<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Flockry!</title>
</head>
<body>
	<h1>Welcome to Flockry</h1>
	<button class="btn_fb_signup">Sign up via Facebook</button>
	<script src="/static/main.js"></script>
</body>
</html>
