<!DOCTYPE html>
<html>
<head>
	<title>You are logged in</title>
</head>
<body>
	<div class="div_create_event">
		<button class="btn_create_event">Create Event</button>
	</div>
	<script src="/static/moment.js"></script>
	<script src="/static/timezone.js"></script>
	<script src="/static/client.js"></script>
</body>
</html>
